.artist-gallery-container{
    padding-top: 10em;
    padding-bottom: 5em;
    background: var(--color-third);
}

.artist-gallery-container h3{
    padding-left: 4em;
}

.artist-gallery-container button{
    padding: 0.7em 3em;
    border-radius: 5px;
    background: var(--color-secondary);
    color: #fff;
    font-size: 14px;
    border: 2px solid #fff;
    cursor: pointer;
}

.artist-gallery{
    padding-top: 7em;
    padding-left: 30%;
    padding-right: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 9em;
}

.gallery-art{
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    gap: 2em;
}

.gallery-art img{
    width: 18em;
    height: 18em;
    border-radius: 50px;
    object-fit: cover;
}

.gallery-art .no-gallery{
    padding-top: 5em;
    padding-bottom: 5em;
   
}

.no-gallery img{
    width: 20em;
    height: 20em;
    border-radius: 50%;
}

.no-gallery h4{
    text-align: center;
    padding-top: 3em;
}

@media (max-width: 800px){ 
    .gallery-art img{
        width: 15em;
        height: 15em;
    }

    .no-gallery img{
        width: 15em;
        height: 15em;
        border-radius: 50%;
    }
}